tasks.json
.env
secrets

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
*.manifest.json
*-inbox.html
*-next.html
*-delegated.html
*-tickler.html
debug*.html
.direnv
